[mysqld]

# Максимально возможное количество ошибок при подключении
max_connect_errors      = 65000
max_error_count         = 65000

# Кеширует используемые индекся
# Обязательно не меньше чем общий размер MYI файлов
key_buffer_size         = 256M

# Максимальное количества файловых дискриптеров
open_files_limit        = 4096

# Максимальное количество открытых таблиц
table_open_cache        =  4000
table_definition_cache  = 40000

# auto flush
flush_time              = 3000

# Для загрузки больших дампов
wait_timeout            = 3600
interactive_timeout     = 3600
max_allowed_packet      = 128M

# * InnoDB
#
# InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
# Read the manual for more InnoDB related options. There are many!
# InnoDB settings

innodb_large_prefix             = on
innodb_file_format              = barracuda

# Обязательно указывать иначе смерть InnoDb, не менять !!!
innodb_file_per_table           = true
innodb_file_format_max          = barracuda
