hostBalancer: something
hostSearch: something
hostESB: something
hostProof: something
hostContractor: something
hostPrintForms: something
hostRR: something
hostBitrix: something
hostExchange: something
hostSberbank: something
hostElasticSearch: something
portElasticSearch: something