/app/config/parameters.yml
/build/
/dist
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
vendor
vendor/*
typings/
/web/bundles/
/web/assetic/
/web/assets/
/web/i/export/
node_modules/
docker/config//mods-available/xdebug.ini
/web/js/
/web/css/*.css
/web/market.yml
